extends layout

block content
   h1 #{title}: 
   h3 Book : #{bookinstance.book.name} - #{bookinstance.imprint}
   p Status : #{bookinstance.status} - Due back on : #{bookinstance.due_back_formatted}
   p Do you really want to delete this instance?
   
   form(method='POST' action='')
      div.form-group
         input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )
      button.btn.btn-primary(type='submit') Delete

